/* test styles */
body {
	position: relative;
/* может быть и не обнулен на сайте */
	margin: 0;
}
.test-block {
	height: 250px;
	width: 100%;
	background-color: green;
}
.block_2 {
	background-color: blue;	
}
.block_3 {
	background-color: yellow;
}
/* шрифты */
@font-face {
	font-family: IBMPlexSans;
	src: url(../fonts/IBMPlexSans/IBMPlexSans-Regular.ttf);
} 
@font-face {
	font-family: Geometria;
	src: url(../fonts/Geometria/Geometria.otf);
} 
.popup__wrap {
	position: fixed;
	bottom: 0;
	display: block;
}
/* popup */
.popup-container {
	width: 100%;
	position: fixed;
	bottom: -190px;
	z-index: 2;
	box-sizing: border-box;
	transition: bottom 0.5s ease;
	display: flex;
	justify-content: center;
	margin-bottom: -8px;
}
.popup-container.show {
	bottom: 30px;
}
.popup-container__wrap {
	width: 100%;
	box-sizing: border-box;	
	cursor: default;
	position: relative;	
	display: flex;
	flex-wrap: nowrap;
}
/* картинки */
.popup-container__images {
	flex-basis: 33.33333%;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	align-items: flex-end;
}
.popup-container__img {
	margin-bottom: -129px;
}
.popup-container__images-item:nth-child(2) {
	padding-right: 15px;
}
.popup-container__images-item:nth-child(1) {
	padding-right: 45px;
}
.popup-container__form-wrap {
	flex-basis: 66.66667%;
}
/* форма */
.popup-container__form {
	width: 489px;
  	border-radius: 9px;
	box-shadow: 8px 11px 5px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #d6d5dc;
	background-color: #ffffff;
	padding: 16px 18px 0px 18px;
	box-sizing: border-box;	
	position: relative;
	overflow: hidden;
}
.popup-container__form-close {
	position: absolute;
	top: 11px;
	right: 11px;
	font-family: Geometria;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ce356b;
}
.popup-container__form-title {
	font-family: IBMPlexSans;
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
}
.popup-container__form-sub-title {
	font-family: IBMPlexSans;
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #ce356b;
	margin-bottom: 21px;
}
/* всплывающий контент */
.popup-container__content {
	padding: 0px 81px 0px 81px;
	box-sizing: border-box;	
	position: relative;
	height: 0;
	transition: height 1s ease, padding-top 2s ease;
}
.popup-container__content-wrap {
	bottom: 0;
}
.popup-container__content.show {
	height: 226px;
	padding-top: 0px;
}
.popup-container__content-title {
	font-family: IBMPlexSans;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	margin-top: 12px;
	margin-bottom: 17px;
}
.popup-container__content-slaider {
	margin-top: 17px;
	margin-bottom: 14px;
	box-sizing: border-box;	
}
.popup-container__content-slaid {
	display: none;
	position: relative;
}
.popup-container__content-slaid.active {
	display: block;
}
.popup-container__slaid-text {
	display: block;
	font-family: IBMPlexSans;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: #000000;
	margin-bottom: 2px;
}
.popup-container__slaid-field {
	padding-bottom: 8px;
}
.popup-container__slaid-name, .popup-container__slaid-phone {
	border-radius: 5px;
	border: solid 1px #060606;
	padding: 14px 15px 14px 15px;
	width: 100%;
	box-sizing: border-box;	
	font-size: 18px;
}
.popup-container__slaid-arrow {
	position: absolute;
	z-index: 1;
	top: calc(100% - 42px);
	right: 5%;
}
.review-slider__control-underline {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
}
.control-underline__item {
	content: "";
	position: absolute;
	flex-basis: 50%;
	width: 50%;
	border: 1px solid #060606;
	border-radius: 0 0 0 27px;
	height: 5px;
	background-color: #060606;
	box-sizing: border-box;
	bottom: 8px;
	display: none;
}
.control-underline__item.active {
	display: block;
}
.control-underline_left {
	border-radius: 0 0 0 27px;
	left: 0;
}
.control-underline_right {
	border-radius: 0 0 27px 0;
	right: 0;
}
.review-slider__control-numbers {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
.control-numbers__list-item {
	display: none;
}
.control-numbers__list-item.active {
	display: block;
}
.control-numbers__item {
	font-family: IBMPlexSans;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 2.2px;
	color: #060606;
	display: inline-block;
}
.control-numbers__item:nth-child(2) {
	padding-left: 5px;
	padding-right: 5px;
}
.popup-container__content-agreement {
	display: flex;
	align-items: flex-end;
}
.popup-container__agreement-check-box {
	position: relative;
}
input[type=checkbox].agreement-check-box {
    display: none;
} 
.popup-container__agreement-text:before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 11px;
	height: 11px;
	border-radius: 1px;
	background-color: #060606;
	top: 4px;
	left: 0;	
}
input[type=checkbox].agreement-check-box:checked + .popup-container__agreement-text:before {
    content: "\2714";
    color: #ffffff;
    font-size: 9px;
	text-align: center;
    line-height: 9px;	    
}
.popup-container__agreement-text {
	font-family: IBMPlexSans;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #4a4a4a;
	cursor: pointer;
	display: inline-block;
	margin-left: 20px;	
}
/* media */
@media(max-width: 576px) {
	.popup-container__images {
		display: none;
	}
	.popup-container__form-wrap {
		flex-basis: 100%;
	}
	.block_2 {
		background: white;
	}
	
	.popup-container__wrap {
		left: 0px;
		width: 100%;
	}	
	.popup-container__form {
		margin: 0 auto;
	}
}
@media(min-width: 576px) {
	.popup-container__images {
		display: none;
	}
	.popup-container__form-wrap {
		flex-basis: 100%;
	}	
	.popup-container__form {
		margin: 0 auto;
	}

}
@media(min-width: 768px) {
	.popup-container__images {
		display: flex;
	}
	.popup-container__form-wrap {
		flex-basis: 66.66667%;
	}	
	.popup-container__form {
		margin-left: 0;
	}
}
@media(min-width: 992px) {

}
@media(min-width: 1200px) {

}